body {
  // background-color: black;
  margin-bottom: 800px;
}

%font {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: 50px;
  color: rgb(74, 69, 69);
  text-align: center;
}

.girlName {
  @extend %font;
}
